.flex {
	display: flex;
	align-items: flex-start;
}

.flex > * {
	height: 100px;
	width: 200px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.flex > header {
	flex-grow: 3;
}

.flex > aside {
	flex-grow: 2;
}